/target
datasets/
.DS_Store
artifacts/
**.sqlite
**.sqlite-journal
/.venv/
.zed/

/model.json
/model.jsonc
/*.tmp.json
/*.tmp.jsonc
/training.json
/training.jsonc
/training-data.json
/training-data.jsonc
/test-data.json
/test-data.jsonc
/dataset-config.jsonc
/*.sql
/pca_visualization.png

proximo-rerun/target/
isthatarock/handwritten-tools/target/

inference.webp

/*.bat
/*.sh
**.out
**.log
/*.csv

**/slurmjob-*

dhat-heap*.json

/tensor_graph.txt
/tensor_requirements.txt